# Telegram (получить у @BotFather)
BOT_TOKEN=8696609798:AAFMddz3Y8sfWMTNfjo8lWZEPMX2gRA-ZbQ

# GigaChat
GIGACHAT_API_KEY=MDE5YzlkZDUtMDhhZC03MTRjLTgzNTgtNTk0NWU4YzE1ZmVlOmY0OTllMDkzLWFhYTMtNGM1Ny1hNTU1LTFmMzE2Y2UzNThkNg==

# База данных
DB_HOST=db
DB_PORT=5432
DB_NAME=video_stats
DB_USER=postgres
DB_PASSWORD=postgres